<div class="login-card">
    <div class="login-header">
      <h2>Login</h2>
    </div>
    <div class="login-content">
      <form (ngSubmit)="onSubmit()">
        <div class="form-field full-width">
          <input
            type="text"
            id="email" 
            [(ngModel)]="email"
            name="email" 
            placeholder="E-mail" 
            required
          >
        </div>
  
        <div class="form-field full-width">
          <input
            type="password"
            id="password" 
            [(ngModel)]="password"
            name="password" 
            placeholder="Senha" 
            required
          >
        </div>
  
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
  
        <button type="submit" class="btn-primary">Entrar</button>
      </form>
      <span class="register-message">
        Não tem uma conta? <a routerLink="/register">Cadastre-se</a>
      </span>
    </div>
</div>
  