<div class="content-container">
  
  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvas-basic-title">
        {{ selectedTask ? 'Editar Tarefa' : 'Nova Tarefa' }}
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">

      <app-sidebar 
        [task]="selectedTask"
        (taskCreated)="onTaskSaved($event)">
      </app-sidebar>
    </div>
  </ng-template>
  
  <main>
    <div class="action-container">
      <div class="email-container">
        {{ currentUser }}
      </div>
      <button class="btn btn-lg btn-outline-primary" (click)="openNewTaskSidebar(content)">
        Nova Tarefa
      </button>
      <a class="logout" (click)="redirectToLogout()">
        <span>LOG OUT</span>  
        <mat-icon fontIcon="logout"></mat-icon>
      </a>
    </div>
    <div class="task-board">
      <div *ngFor="let column of columns" class="task-column">
        <h3>{{ column.title }} ({{ countTasksByStatus(column.status) }})</h3>
        <div class="tasks-list">
          <div *ngFor="let task of tasks">
            <div *ngIf="task.status === column.status" class="task-card" (click)="openEditSidebar(task, content)">
                <div class="task-title-box">
                  <h4 class="task-title">{{ task.title }}</h4>
                </div>

                <div>
                  <p class="task-description">{{ task.description }}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>  
</div>
