*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right, #c4d2f1 0%, #70a5dd 100%);
  color: #2a2a2a;
  display: flex;
}

app-root {
  width: 100%;
}